.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}


body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    width: 70%;
    min-height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FAF9F6;
    overflow: hidden;
    position: relative;
    
    
}

.absolute{

    position: absolute;
    top: 0;    
    
}

.absolute2{
    position: absolute;
    bottom: 0px;
    right: 0px;

}



/* top part */


.top_card{

    display: flex;
    justify-content: space-around;
}

/* top part left*/

.top_card_left{

    width: 30%;
}

h1{
    font-size: 56px;
    margin-bottom: 25px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -2px;
     color: #512051;


}

.top_card_left>p{
    
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.633333px;
    color: #927B91;

    
}



/* top part right */

.top_card_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


.star{

    padding: 8.45px;

}


.reviews>p{

    padding: 0px 80px 0px 10px

}



.reviews{
    display: flex;
    align-items: center;  
    
    padding: 10px;
    margin-bottom: 16px;
    transform: translateY(-15px);
    background: #F7F2F7;
     border-radius: 8px;
     color: #512051;
     font-weight: 700;
    
}


.guru{

    display: flex;
    align-items: center;  
    
    padding: 10px;
    margin-bottom: 16px;
    transform: translate(35px ,-15px);
    background: #F7F2F7;
     border-radius: 8px;
     color: #512051;
     font-weight: 700;
    
    

}

.best {
    
    display: flex;
    align-items: center;  
    
    padding: 10px;
    transform: translate( 70px ,-15px);
    background: #F7F2F7;
    border-radius: 8px;
    color: #512051;
    font-weight: 700;
}











/* bot part */

.bot_card{

    display: flex;
    width: 84%;
    margin: 0 auto;
    justify-content: space-around;
    


}

.card1{

    width: 350px;   
    background: #512051;
    border-radius: 8px;
    padding-bottom: 45px;
    


}

.card2{

    width: 350px; 
    transform: translateY(20px);
    background: #512051;
    border-radius: 8px;
    
}

.card3{

    width: 350px;
    transform: translateY(40px);
    background: #512051;
    border-radius: 8px;
    
}



.profile_pic{

    border-radius: 50%;
    
}

.top{

    display: flex;
    align-items: center;
    gap: 23px;
    width: 76%;
    margin: 31px auto;
    
}



.txt>h2{

    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;;
}

.txt>h3{
    font-weight: 400;
    font-size: 17px;
    color: #EE69A4;
}



.profile_txt{

    width: 76%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;


    letter-spacing: -0.303571px;

     color: #FFFFFF;

}



/* tablet */

@media (max-width: 1880px){

    body{
        height: auto;
    }

    .card{
        margin-top: 50px;
        padding: 25px 0px 50px 0px;
    }

    .reviews{
        transform: none;

    }

    .guru{
        transform: none;

    }

    .best{

        transform: none;

    }



.absolute{

    display: none;
}

.absolute2{
    display: none;
}


.top_card_right{

    justify-content: space-evenly;
}






    .card1{
        padding-bottom: 0px;
       
    }

    .card2{
        transform: none;
    }

    .card3{
        transform: none;
    }


}


@media (max-width: 990px){

    .card{
        width: 90%;
    }


    

    .top_card{

        flex-direction: column;
        align-items: center;
    }

    .top_card_left{

        width: 70%;
        padding-top: 30px;
    }

    .top_card_right{
        width: 80%;
        margin-bottom: 50px;
    }



    .reviews{

        flex-direction: column;
        
    }

    .reviews>p{
        padding: 0px;
    }

    .guru{
        flex-direction: column;

    }

    .best{
        flex-direction: column;
    }

    .bot_card
    {

        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        gap: 25px;
        
    }


}